:global(#app) {
  .wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
  }

  .leftHeader {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    height: 48px;
    padding: 8px;
  }

  .rightHeader {
    grid-column: 2;
    grid-row: 1;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .monthRow {
    display: flex;
    position: relative;
  }

  .dayRow {
    display: flex;
    position: relative;
    background-image: repeating-linear-gradient(
                    to right,
                    #f0f0f0,
                    #f0f0f0 1px,
                    transparent 1px,
                    transparent 32px
    );
  }

  .monthCell,
  .dayCell {
    text-align: center;
    font-size: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .leftColumn {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }

  .rightColumn {
    grid-column: 2;
    grid-row: 2;
    overflow-x: auto;
    min-width: 0;
  }


  .timeline {
    position: relative;
    background-image: repeating-linear-gradient(
      to right,
      #f0f0f0,
      #f0f0f0 1px,
      transparent 1px,
      transparent 32px
    );
  }

  .epicRow {
    position: relative;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    padding-left: 10px;
    width: 200px;
    background-color: #fff;
    z-index: 100;
    cursor: pointer;
    user-select: none;
  }

  .row {
    position: relative;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
  }

  .cardRow {
    position: relative;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    padding-left: 26px;
    width: 200px;
    background-color: #fff;
    z-index: 100;
    cursor: default;
    user-select: none;
  }

  .bar {
    position: absolute;
    display: flex;
    align-items: center;
    height: 22px;
    top: 4px;
    border-radius: 5px ;
    cursor: pointer;
  }

  .barTask {
    position: absolute;
    display: flex;
    align-items: center;
    height: 16px;
    top: 7px;
    opacity: 0.75;
    border-radius: 5px ;
    cursor: pointer;
  }

  .label {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    padding: 0 4px;
    text-align: center;
    user-select: none;
  }

  .gripLeft,
  .gripRight {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    cursor: ew-resize;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .gripLeft {
    left: -3px;
  }

  .gripRight {
    right: -3px;
  }

  .progress {
    height: 100%;
    opacity: 0.3;
  }
}
