:global(#app) {
  .fieldBox {
    margin-bottom: 8px;
  }

  .text {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 2px;
  }

  .info {
    padding-bottom: 6px;
  }

  .button {
    margin-right: 8px;
  }
}
