:global(#app) {
  .field {
    margin-bottom: 8px;
  }

  .colorInput {
    display: block;
    margin-top: 8px;
    width: 100%;
    height: 32px;
    padding: 0;
    border: none;
  }

  .iconWrapper {
    display: flex;
    margin-bottom: 8px;
  }

  .clearIconButton {
    background: transparent;
    box-shadow: none;
    margin: 0;
    width: 36px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 4px;
    height:  38px;
    color: #bdbdbd;
    &:hover {
      background: #e9e9e9;
    }
  }

  .iconDropdown {
    flex: 1 1 auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
