:global(#app) {
  .wrapper {
    border: none;
    box-shadow: none;
  }

  .actions {
    text-align: right;
    margin-bottom: 1rem;

    &:after {
      clear: both;
      content: '';
      display: table;
    }
  }

  .addButton {
    margin-right: 0;
  }

  .tableWrapper {
    margin-right: -2.5rem;
    overflow: auto;
    padding-right: 2.5rem;

    @supports (-moz-appearance: none) {
      scrollbar-color: rgba(0, 0, 0, 0.32) transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }
}
